src/test/resources/openspml.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="urn:org:openspml:v2:util:xml"
           xmlns="http://www.w3.org/2001/XMLSchema" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:openspml="urn:org:openspml:v2:util:xml"
           elementFormDefault="qualified">
	<element name="operationalNameValuePair">
        	<complexType>
			<attribute name="name" type="string" use="optional"/>
			<attribute name="value" type="string" use="optional"/>
		</complexType>
	</element>
</xs:schema>
